  <div class="row">
          <% @districts.each do |district| %>
           <div class="col-sm-6 col-md-6">
                <div class="thumbnail">

                  <h2><%= district.country %> - <%= district.region %> - <%= district.district %></h2>
                   <p>
                      <% unless district.avatar.blank? %>
                        <%= link_to (image_tag district.avatar.url(:thumb)), district.avatar.url %>
                    <% end %>
                  </p>
            
                  <p><b>Latitude:</b> <%= district.latitude %></p>
                  <p><b>Longitude:</b> <%= district.longitude %></p>
                  <p><b>GADMID:</b> <%= district.gadmid %></p>
                  <p><b>SALBID</b> <%= district.salbid %></p>
                  <p align="center"><%= link_to 'Show', district %> | <%= link_to 'Edit', edit_district_path(district) %> | <%= link_to 'Destroy', district, method: :delete, data: { confirm: 'Are you sure?' } %></p>
               </div> 
              </div>  
          <% end %>
    </div>
<br>

<%= link_to 'New District', new_district_path %>
